<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import Timeline from 'totem-timeline';
import QueryHub from 'totem-timeline-signalr';

export default {
  name: 'App',
  mounted() {
    Timeline.console.enable();
    QueryHub.enable('localhost:5000/hubs/query');
  }
}
</script>
