<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
  </q-page>
</template>

<script>
import WebQueries from "../area/web.js";
import QueryData from "totem-timeline-vue";
import Timeline from "totem-timeline";

export default {
  name: 'PageIndex',
  mixins: [QueryData(WebQueries.webUser)],
  data() {
    return {
      apiEndpoint: "/views/user"
    };
  }
}
</script>
